<header>

    <div class="container">
        <h2><p class="text-lg-center font-weight-bolder">Project Manager</p></h2>
    </div>
    <nav class="navbar navbar-expand-md navbar-light bg-info">
        <ul text-lg-middle class="navbar-nav">
            <li><a class="nav-link" routerLink="/proj"><b>Add Project</b></a></li>
            <li><a class="nav-link" routerLink="/taskadd"><b>Add Task</b></a></li>
            <li><a class="nav-link" routerLink="/user"><b>Add User</b></a></li>
            <li><a class="nav-link" routerLink="/taskview"><b>View Task</b></a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end text-white">
            <li><a class="nav-link" routerLink="/google.com"><b>Help?</b></a></li>
        </ul>
    </nav>
    
</header>