<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav">
            <li><a class="nav-link" routerLink="/user">Add User</a></li>
            <li><a class="nav-link" routerLink="/proj">Add Project</a></li>
            <li><a class="nav-link" routerLink="/taskadd">Add Task</a></li>
            <li><a class="nav-link" routerLink="/taskview">View Task</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a class="nav-link">Help?</a></li>
        </ul>
    </nav>
    <div class="container">
        <p class="text-lg-left font-weight-bold">Project Manager Application</p>
    </div>
</header>