<div class="container">

    <div class="form-group row">
        <label for="projectName" class="col-sm-2 col-form-label">Project:</label>
        <div class="col-sm-10">
            <select class="mdb-select" name="project" [(ngModel)]="projectId" (change)="pickProjectId()" searchable="Search here..">
                <option class="rounded-circle" *ngFor="let project of projects" value="{{project.projectId}}">{{project.name}}</option>
            </select>
        </div>
    </div>

    <div class="top-buffer container">
        <p>Tasks for the selected project. Sortable by columns</p>
    </div>
    <div class="mat-sort-header-container">
        <table class="table" matSort (matSortChange)="sortTasks($event)">
            <thead>
                <tr>
                    <th mat-sort-header="taskName">Task</th>
                    <th mat-sort-header="parentTaskName">Parent</th>
                    <th mat-sort-header="priority">Priority</th>
                    <th mat-sort-header="startDate">Start</th>
                    <th mat-sort-header="endDate">End</th>
                    <th mat-sort-header="status">Completed?</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks">
                    <td>{{task.name}}</td>
                    <td>{{task.parentTaskId}}</td>
                    <td>{{task.priority}}</td>
                    <td>{{task.startDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{task.endDate | date:'MM/dd/yyyy'}}</td>
                    <td><input type="checkbox" [(ngModel)]="task.status" disabled="true"/></td>
                    <td>
                        <button class="btn btn-success mr-2" (click)='editTask(task.projectId, task.taskId)'>Edit</button>
                        <button class="btn btn-warning" (click)='endTask(task.taskId)'>End</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
